{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/features/(.*)$",
    "^@/shared/(.*)$",
    "^@/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "tailwindFunctions": [
    "clsx",
    "cn",
    "cva"
  ],
  "endOfLine": "lf",
  "insertFinalNewline": true,
  "trimTrailingWhitespace": true
}